@model IEnumerable<PCVTry.Models.Requestinfo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TodayDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestByName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffectiveStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffectiveEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TodayDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestByName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveEnd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RequestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RequestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
