@model IEnumerable<PCVTry.Models.AddiAccess>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fdic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CopyOf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fdic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Crm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CopyOf)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AddiAccessId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AddiAccessId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AddiAccessId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
