@model IEnumerable<PCVTry.Models.LrvRolegroup>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LrvAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FannieQc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegularQc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllQueues)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LrvAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FannieQc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegularQc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllQueues)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LrvId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LrvId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LrvId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
